html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General */

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #0065fc;
}

figcaption {
  font-size: 13px;
}

/* HEADER */

/* Logo and Navigation */

nav {
  padding: 0 30px;
}
.navbar {
  padding: 0;
  display: flex;
  margin: 0;
  list-style-type: none;
  gap: 50px;
  height: 50px;
  align-items: stretch;
}

.navbar__logo {
  margin-right: auto;
  padding-top: 20px;
}

.navbar__logo__img {
  width: 40%;
  height: auto;
}

.navbar__link {
  font-size: 12px;
  padding-top: 20px;
  border-top: 3px solid transparent;
}

.navbar__link--active {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/* Tagline */

.tagline--big {
  font-size: 14px;
  padding: 10px 30px 5px 30px;
  margin-bottom: 0;
}

.tagline--small {
  font-size: 11px;
  padding: 0 30px;
  margin-top: 0;
}

/* MAIN */

main {
  padding: 30px;
}

/* Search */

.searchbar {
  margin-bottom: 30px;
  font-size: 14px;
  display: flex;
  align-items: baseline;
  gap: 0px;
}

.searchbar__input {
  padding: 10px;
  border-left: none;
  border: 1px solid #f2f2f2;
  font-weight: 700;
}

.searchbar__location {
  background-color: #f2f2f2;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  padding: 10px;
  border: 1px solid #f2f2f2;
}

.searchbar__submit {
  background-color: #0065fc;
  color: white;
  padding: 10px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  font-weight: 700;
  border: 1px solid #0065fc;
}

/* Filters*/

.filters {
  display: flex;
  align-items: baseline;
  font-size: 13px;
  gap: 20px;
}

.filters__title {
  font-size: 14px;
}
.filters__button {
  background-color: white;
  font-weight: 700;
  border: 1px solid #deebff;
  padding: 0px;
  padding-right: 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-left: 0px;
}

.filters_icon {
  background-color: #deebff;
  color: #0065fc;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 0;
}

.fa-child-reaching {
  padding: 10px 12px;
}

.filters__button:hover {
  background-color: #0065fc;
  color: white;
}

/* RESULTS */

.results {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
}

.star--full {
  color: #0065fc;
}

.star--empty {
  color: #deebff;
}

/* Accommodations */

.accommodations {
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 15px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.accommodations__title-line {
  font-size: 14px;
  padding-top: 10px;
}
.accommodations__title {
  font-size: 16px;
  margin: 0;
}
.accommodations__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style-type: none;
  gap: 25px;
  margin: 0;
  flex: 1;
}
.accommodations__card__link {
  flex: 1 30%;
  min-width: 150px;
}

.accommodations__card {
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  height: 100%;
}

.accommodations__card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.accommodations__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100px;
  object-fit: cover;
  flex: 1 auto;
  margin-bottom: 10px;
}

.accommodations__card__desc {
  flex: 1 auto;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  padding-left: 10px;
}

.accommodations__card__title {
  font-size: 12px;
  flex: 0;
  margin: 0;
}

.accommodations__card__price {
  flex: 1;
  margin: auto 0;
}
.accommodations__card__rating {
  font-size: 11px;
  margin: 0;
  flex: 0;
}
.more {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin: 12px 0;
}

/* Popular */

.popular {
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.popular__title-line {
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.popular__title {
  font-size: 16px;
  margin: 0;
}

.popular__list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  list-style-type: none;
  gap: 25px;
  margin: 0;
  flex: 1;
}
.popular__card__link {
  flex: 1;
  max-height: 30%;
}
.popular__card {
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.popular__card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.popular__img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  width: 35%;
  min-width: 100px;
  margin-right: 10px;
}

.popular__card__desc {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 5px;
  min-width: 70px;
}

.popular__card__title {
  font-size: 12px;
  flex: 0;
  margin: 0;
}
.popular__card__price {
  flex: 1;
  margin: auto 0;
}

.popular__card__rating {
  font-size: 11px;
  margin: 0;
  flex: 0;
}

/* Activities */

section.activities {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.activities__title {
  font-size: 16px;
  margin: 0;
  padding: 10px 0;
}
.activities__list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-content: stretch;
}

.activities__link {
  flex: 1 25%;
  width: 20%;
}
.activities__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding-bottom: 5px;
  height: 100%;
  width: 100%;
}

.activities__card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.activities__img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.activities__card__title {
  font-size: 12px;
  margin: 0;
  padding-left: 10px;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.footer__list {
  font-size: 10px;
  text-align: left;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 10px;
  flex: 1 30%;
}

.footer__title {
  font-size: 10px;
  margin: 0;
}
