html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* General */
* {
  font-family:  "Raleway", sans-serif;
}
h4 {
  font-size: 13px;
}

ul {
  
  list-style-type: none;
  }

 body{
  padding: 20px;
 }

/* Header */

/* Main Body */


div.main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
ul.main{
  display: flex;
  flex-wrap: wrap;
  }

section.accommodations {
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

section.popular {
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;

}

li.accommodations {
  padding: 5px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  
}

img.accommodations {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 
}



/* Footer */

footer {
  background-color: #F2F2F2;
  text-align: center;
  display: flex;
  justify-content: flex-start 
  
}

a.footer_list {
  text-decoration: none;
  color: black;
  font-size: 11px;
  }

  footer ul {
    font-size: 12px;
    text-align: left; 
   margin-right: 75px;
    margin-top: 25px; 
  }

  a:hover.footer_list {
    color: #0065FC;
  }

 footer li {
  margin-top: 15px;  
 }
